<h2>Log In</h2>

<%= form_tag session_path do %>
  <p>
    <%= label_tag t('label.session.email') %><br />
    <%= text_field_tag :email, @email %>
  </p>

  <p>
    <%= label_tag t('label.session.password') %><br/>
    <%= password_field_tag :password, nil %>
  </p>

  <p>
    <%= label_tag t('label.session.remember_me') %>
    <%= check_box_tag 'remember_me', '1', @remember_me %>
  </p>

  <p><%= submit_tag t('label.session.signin') %></p>
  <p><%= link_to t('label.user.forget_password'), forgot_password_path %></p>
  <p><%= link_to t('link.session.signup'), new_user_path %></p>
<% end %>
