<h2>Edit Your Account</h2>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for :user, :url => user_url(@user), :html => { :method => :put } do |f| %>
  <p><%= t('label.user.email') %><br /><%= f.text_field :email, :size => 60 %></p>

  <%= submit_tag 'Save' %>
<% end %>

<p><%= link_to t('link.user.show'), user_path(@user) %> | <%= link_to t('link.password.change_password'), change_password_path %></p>
