<div id="footer">
  <div class="page_top">
    <a href="#top"><img src="/images/icons/back.gif" alt="ページの先頭へ戻る"></a>
  </div>
  <div class="sitemap">
    <ul>
      <li><%= link_to "サイトマップ", "#" %></li>
      <li><%= link_to "サイトマップ", "#" %></li>
      <li><%= link_to "サイトマップ", "#" %></li>
      <li><%= link_to "サイトマップ", "#" %></li>
      <li><%= link_to "サイトマップ", "#" %></li>
    </ul>
  </div>
  <div class="links">
    <ul>
    <li><%= link_to "お問い合わせ", "#" %></li>
    <li><%= link_to "特定商取引法に基づく表記", "#" %></li>
    <li><%= link_to "年齢確認に関して", "#" %></li>
    <li><%= link_to "プライバシーステイトメント", "#" %></li>
    <li><%= link_to "ご利用規約", "#" %></li>
    <li><%= link_to "会社概要", "#" %></li>
    </ul>
  </div>
  <div class="copyright">
    <p>Copyright &copy; <%= Date.today.year %> All right reserved.</p>
  </div>
</div>
