<%= form_tag :controller => "accounts", :action => "update" do %>
  <p>
    <label for="old_password" class="block"><%= t('label.account.old_password') %></label><br />
    <%= password_field_tag 'old_password', @old_password, :size => 45 %>
  </p>

  <p>
    <label for="password" class="block"><%= t('label.account.new_password') %></label><br />
    <%= password_field_tag 'password', '', :size => 45 %><br />
    <small><%= t('label.account.password_validation') %></small>
  </p>

  <p>
    <label for="password_confirmation"  class="block"><%= t('label.account.password_confirmation') %></label><br />
    <%= password_field_tag 'password_confirmation', '', :size => 45 %>
  </p>

  <%= submit_tag t('label.account.change_password') %>
<% end %>
